<section id="left-nav">
    @if (profile._id !== null) {
        <div class="wrap-profile">
            @if (profile.photo === null) {
                <img src="assets/photos/profile.png" alt="" [matMenuTriggerFor]="menu">
            } @else {
                <img src="{{profile.photo}}" alt="" [matMenuTriggerFor]="menu">
            }
            <mat-menu #menu="matMenu">
                <div mat-menu-item>
                    Bonjour {{profile.name}}
                </div>
                <button mat-menu-item (click)="editProfile.emit(1)">Editer mon nom</button>
                <button mat-menu-item (click)="editProfile.emit(2)">Changer ma photo de profil</button>
            </mat-menu>
        </div>
    }
    <div class="route" [routerLink]="['/calendrier']" routerLinkActive="active">
        <mat-icon aria-hidden="false" fontIcon="calendar_month"></mat-icon>
        <div class="name">Calendrier</div>
    </div>
    <div class="route" [routerLink]="['/chat']" routerLinkActive="active">
        <mat-icon aria-hidden="false" fontIcon="chat"></mat-icon>
        <div class="name">Chat</div>
    </div>
    <div class="route">
        <mat-icon aria-hidden="false" fontIcon="phone"></mat-icon>
        <div class="name">Appels</div>
    </div>
    <div class="route" (click)="deconnect()">
        <mat-icon aria-hidden="false" fontIcon="logout"></mat-icon>
        <div class="name">Déconnexion</div>
    </div>
</section>
