@import "../../../styles/utils";
@import "../../../styles/_variables";

$sectionInterlocutorsWidth: 300px;
$headerHeight: 50px;

#chat {
    height: 100vh;
    overflow: hidden;
    @include flex(flex-start);
    >section {
        height: inherit;
        .header {
            height: $headerHeight;
            @include flex(flex-start);
            padding: 5px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }
        .body {
            height: calc(100% - $headerHeight);
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    #section-interlocutors {
        width: $sectionInterlocutorsWidth;
        .header {
            font-size: 20px;
            font-weight: bold;
        }
        .body {
            overflow-x: hidden;
            overflow-y: auto;
            .interlocutor {
                padding: 5px;
                @include flex(flex-start);
                cursor: pointer;
                height: $headerHeight;
                >div {
                    height: inherit;
                    @include flex(flex-start);
                }
                &:hover, &.active {
                    background-color: white;
                }
                .wrap-photo {
                    position: relative;
                    width: 40px;
                    img {
                        border-radius: 50%;
                    }
                }
                .wrap-name {
                    width: calc(100% - 40px - 60px);
                    padding-left: 5px;
                    padding-right: 5px;
                    flex-wrap: wrap;
                    >div {
                        width: 100%;
                    }
                }
                .wrap-date {
                    width: 60px;
                    justify-content: flex-end;
                    font-size:13px;
                }
            }
        }
    }

    #section-conversations {
        width: calc(100% - $sectionInterlocutorsWidth);
        background-color: white;
        .header {
            @include flex(flex-start); 
            >div {
                height: inherit;
                @include flex(flex-start);
            }
            .wrap-list-interlocutors {
                @include flex();
                width:$headerHeight;
                mat-icon {
                    transform: scale(1.5);
                }
            }
            .wrap-search {
                width: calc(100% - $headerHeight - 100px);
                padding-left: 5px;
                padding-right: 7px;
            }
            .wrap-call {
                width: 100px;
            }
        }
        .body {
            position: relative;
            #list-conversations {
                height: calc(100% - 130px);
                overflow-x: hidden;
                overflow-y: auto;
                padding: 10px 20px;
            }
            
            #wrap-editor {
                position: absolute;
                left: 0;
                bottom:2px;
                width: 100%;
                padding-left: 10px;
                padding-right: 10px;
                >div {
                    width: 100%;
                }
                .wrap-files {
                    padding: 10px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    border: 1px solid rgb(199 199 199);
                    border-radius: 5px;
                    @include flex(flex-start);
                    .file-to-upload {
                        @include flex(flex-start);
                        background-color: gainsboro;
                        border-radius: 3px;
                        padding: 5px 8px;
                        margin-right: 5px;
                        .file-name {
                            max-width:230px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        mat-icon[data-mat-icon-name="clear"]:hover {
                            cursor: pointer;
                            color: red;
                        }
                    }
                }
                .wrap-btns {
                    padding: 3px;
                    mat-icon {
                        cursor: pointer;
                    }
                    @include flex(flex-start);
                    .list-btns {
                        width: calc(100% - 25px);
                        mat-icon {
                            margin-right: 3px;
                        }
                    }
                    .wrap-btn-submit {
                        color: $blue;
                    }
                }
            }
        }
    }
}


@media (max-width: 767px) {
    #chat {
        #section-interlocutors {
            width: 0;
        }
        #section-conversations {
            width: 100%;
        }
    }
}

::ng-deep .mat-menu-interlocutors .mat-menu-panel {
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9; /* Example background color */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Shadow effect */
}


::ng-deep .mat-menu-interlocutors {
    .interlocutor {
        padding: 10px 5px;
        &.active, &:hover {
            background-color: #b4b4b4;
        }
        .wrap-name {
            font-weight: bold;
        }
        .wrap-date {
            font-size: 13px;
        }
        .wrap-photo {
            text-align: center;
            img {
                width: 50px;
                height: 50px;
            }
        } 
    }
  }
